body{
    margin: 0;
}

.box {
    width: 180px;
    height: 100px;
    background-color: blue;
    border-radius: 18px;
    position: absolute;
    animation: box-rote 5s ease-in-out infinite alternate forwards 1s;
}

@keyframes box-rote {
    0%{
        top: 0;
        left: 0;
    }

    25% {
        top: 0;
        left: calc(100% - 100px);
        transform: scale(1) rotate(180deg);
        background-color: yellow;
    }

    50%{
        top: calc(100% - 100px);
        left: calc(100% - 100px);
        transform: scale(1) rotate(360deg);
        background-color: red;
    }

    75%{
        top: calc(100% - 100px);
        left: 0;
        transform: scale(1) rotate(180deg);
        background-color: rgb(218, 27, 90);
    }

    100%{
        top: 0;
        left: 0;
        transform: scale(1) rotate(360deg);
        background-color: orange;
    }

}
